<autofac>
	<components>
		<!-- OAuth2 resource owner password credential grant validator -->
		<component type="Thinktecture.AuthorizationServer.OAuth2.WSTrustResourceOwnerCredentialValidation, Thinktecture.AuthorizationServer.OAuth2"
				   service="Thinktecture.AuthorizationServer.Interfaces.IResourceOwnerCredentialValidation, Thinktecture.AuthorizationServer.Core" >
			<parameters>
				<parameter name="address"
						   value="https://identity.pibline.com/idsrv/issue/wstrust/mixed/username" />
				<parameter name="realm"
						   value="urn:authorizationserver" />
				<parameter name="issuerThumbprint"
						   value="B7334A2CF90295A4768E88C28D7837FECBD04BD7 " />
			</parameters>
		</component>

		<!-- OAuth2 assertion grant validator -->
		<!--<component type="Thinktecture.Samples.AssertionGrantValidator, AssertionDemoExtension"
				   service="Thinktecture.AuthorizationServer.Interfaces.IAssertionGrantValidation, Thinktecture.AuthorizationServer.Core" />-->
	</components>
</autofac>