<connectionStrings>
  <!-- configuration data like endpoints, protocol config, relying parties etc... -->
  <add name="AuthorizationServerContext"
       connectionString="Data Source=DB01;Initial Catalog=AuthorizationServerConfiguration;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True;Application Name=Pibline Authorization Server;ConnectRetryCount=2"
       providerName="System.Data.SqlClient" />

  <!-- user database (SQLServer) -->
  <add name="MembershipProviderDB"
     connectionString="Data Source=DB01;Initial Catalog=AuthorizationServerUsers;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True;Application Name=Pibline Authorization Server;ConnectRetryCount=2"
     providerName="System.Data.SqlClient" />

  <add name="SessionsProviderDb" 
       providerName="System.Data.SqlServerCe.4.0" 
       connectionString="Data Source=|DataDirectory|\AuthorizationSessions.sdf" />
  
  <add name="DefaultConnection" 
       providerName="System.Data.SqlClient" 
       connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-WebHost-20140106125232;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-WebHost-20140106125232.mdf" />
</connectionStrings>