<system.identityModel.services>
  <federationConfiguration>
    <cookieHandler requireSsl="true" />
    <wsFederation passiveRedirectEnabled="true" 
                  issuer="https://identity.pibline.com/idsrv/issue/wsfed" 
                  realm="urn:authorizationserver" 
                  requireHttps="true" />

  </federationConfiguration>
</system.identityModel.services>