<system.identityModel>
  <identityConfiguration>

    <certificateValidation certificateValidationMode="None" />

    <audienceUris>
      <add value="urn:authorizationserver" />
    </audienceUris>

    <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
      <authority name="http://identity.pibline.com/issuer">
        <keys>
          <add thumbprint="B7334A2CF90295A4768E88C28D7837FECBD04BD7 " />
        </keys>
        <validIssuers>
          <add name="http://identity.pibline.com/issuer" />
        </validIssuers>
      </authority>
    </issuerNameRegistry>

    <securityTokenHandlers>
      <add type="System.IdentityModel.Tokens.JwtSecurityTokenHandler, System.IdentityModel.Tokens.Jwt" />
    </securityTokenHandlers>

  </identityConfiguration>
</system.identityModel>