<system.diagnostics>
  <trace autoflush="true" />

  <sources>
    <!-- WIF tracing -->
    <source name="System.IdentityModel" switchValue="Verbose,ActivityTracing" >
      <listeners>
        <add name="Listener" />
      </listeners>
    </source>

    <!-- IdentityServer tracing -->
    <source name="Thinktecture.IdentityServer" switchValue="Verbose,ActivityTracing">
      <listeners>
        <add name="Listener" />
      </listeners>
    </source>
    
    <!-- IdentityServer tracing -->
    <source name="Thinktecture.AuthorizationServer" switchValue="Verbose,ActivityTracing">
      <listeners>
        <add name="Listener" />
      </listeners>
    </source>
    
    <source name="System.Web" switchValue="Verbose,ActivityTracing">
      <listeners>
        <add name="Listener" />
      </listeners>
    </source>
  </sources>

  <!-- worker process account needs write access to the configured tracing directories -->
  <sharedListeners>
    <add name="Listener"
         type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
         initializeData="..\..\Logs\AuthorizationServer.svclog"
         traceOutputOptions="Callstack">
      <filter type="" />
    </add>
  </sharedListeners>
</system.diagnostics>